* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Gabarito', cursive;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(239, 238, 238);
}

a{
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
}

/*
Skip Link
*/

.skip-link {
  position: absolute;
  top: -45px;
  left: 0;
  padding: 5px;
  background-color: #da281c;
  color: white;
  z-index: 100;
  border-radius: 5px;
  text-decoration: none;
  min-width: 44px;
  min-height: 44px;
}
.skip-link:focus {
  top: 0;
}

/*
  AppBar (Benar) Pengganti NavBar
*/

.app-bar {
  padding: 8px 16px;
  background-color: white;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.app-bar .app-bar_menu {
  display: flex;
  align-items: center;
  margin-right: 150px;
}

.app-bar .app-bar_menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}

.app-bar .app-bar_brand {
  display: flex;
  align-items: center;
}

.app-bar .app-bar_brand img {
  width: 150px;
}

.app-bar .app-bar_navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: white;
  overflow: hidden;
}

.app-bar .app-bar_navigation.open {
  left: 0;
}

.app-bar .app-bar_navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 8px;
  width: 100%;
  z-index: 99;
}

.app-bar .app-bar_navigation ul li:hover {
  background-color: #da281c;
  padding: 0px;
  border-radius: 80px;
  align-items: center;
}

.app-bar .app-bar_navigation ul li:hover a:hover {
  color: white;
}



/*
Hero/Jumbotron
*/

.hero {
  display: flex;
  align-items: center;
  min-height: 500px;
  width: 100%;
  text-align: center;
  background-image: url('../public/images/heros/hero-image_2.png');
  background-position: center;
  background-color: green;
}

.hero_inner {
  margin-left : 152px;
  max-width: 800px;
  text-align: left;

}

.hero_title {
  color: white;
  font-weight: 800;
  font-size: 60px;
}

.hero_tagline {
  color:white;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 400;
}

.headline_button {
  font-family: 'Gabarito', cursive;
  text-transform: uppercase;
  margin-top: 24px;
  cursor: pointer;
  padding: 1rem;;
  color: black;
  border: none;
  border-radius: 5px;
  background-color: white;
  transition: opacity 0.3s;
}

.hero_inner  a {
  text-decoration: none;
}

/*
Main
*/

main {
    width: 100%;
    margin: 0 auto;
}

/*
Content
*/

.content{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 32px;
  
}

/*
List/Card Restauran
*/

.restaurant_list_title{
  font-size: 30px;
  font-weight: 400;
}

.restaurant_list{
  display: flex;
  margin: 32px auto auto;
  text-align: left;
}


.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card .image {
  width: 100%;
  border-radius: 10px;
  min-height: min-content;
}

/*
Restaurant Item (BENER)
*/

.restaurant-item {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
}

.restaurant-item_header {
  position: relative;
}

.restaurant-item .restaurant-item_header .restaurant-item_header_poster {
  width: 100%;
}


.restaurant-item .restaurant-item_header .restaurant-item_header_rating {
  position: absolute;
  padding: 8px;
  padding-left: 14px;
  bottom: -4px;
  left: -6px;
  display: inline-block;
  background-color: white;
  color: white;
  border-radius: 10px; ;
}

.restaurant-item .restaurant-item_header .restaurant-item_header_rating .restaurant-item_header_rating_score {
  margin-left: 10px;
  color: black;
}

.restaurant-item .restaurant-item_content {
  padding : 16px;
}

.restaurant-item .restaurant-item_content h3 {
  margin: 0 0 10px 0;
}

.restaurant-item .restaurant-item_content h3 a {
  color: black;
  text-decoration: none;
}

.restaurant-item .restaurant-item_content p {
  font-weight: 200;
  color: gray;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

/*
  Restaurant Detail
*/

.restaurant {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 16px;
  padding: 16px;
  background-color: rgb(239, 238, 238);
}

.restaurant .restaurant_poster {
  width: 100%;
  border-radius: 8px;
}

.restaurant .restaurant_info {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 100%;
  padding: 12px;
  background-color: white;
}

.restaurant .restaurant_info h2 {
  color : #da281c;
  
}

.restaurant .restaurant_description {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 100%;
  padding: 12px;
  background-color: white;
}

.restaurant .menu {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px 14px;
  padding: 12px;
  background-color: white;

}

/* .restaurant .menu .menu-title {
  border-radius: 8px;
  background-color: #da281c;
  padding: 8px;
  text-align: center;
} */

.restaurant .menu .menu-foods {
  outline-color: #da281c;
  outline-style: solid;
  outline-width: 1px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  border-radius: 8px;
  width: 100%;
  padding: 12px;
}

.restaurant .menu .menu-drinks {
  outline-color: #da281c;
  outline-style: solid;
  outline-width: 1px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  border-radius: 8px;
  width: 100%;
  padding: 12px;
}

.restaurant .review {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px 14px;
  padding: 12px;
  background-color: white;
}

.restaurant .review .review-item{
  outline-color: gray;
  outline-style: solid;
  outline-width: 1px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  border-radius: 8px;
  width: 100%;
  display: grid;
  padding: 8px;
}

.restaurant .review .review-item  p {
  font-weight: 200;
  text-decoration: underline;
  font-size: 10px;
  color: gray;
}

/*
  Like
*/
.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.restaurant-item__not__found {
  font-size: 1rem;
  max-width: 100%;
  text-align: center;
}

/*
Footer
*/

footer {
  background-color: #da281c;
  padding: 2em;
  width: 100%;
  text-align: center;

}

footer ul {
  margin: 0 auto;
  display: inline-block;
}

footer li {
  display: inline-block;
  margin: 0 1em;
  font-size: 14px;
}

footer a {
  display: inline-block;
  padding: 1.5rem;
  text-decoration: none;
  color: #fff;
}

footer p {
  color: #fff;
  font-weight: 400;
  text-align: center;
}

